/*------------------------------------*\
    #FAST Variables
\*------------------------------------*/

$FAST-use-protocol: "http" !default;
$FAST-logo-url: "../assets/img/logo_56.png";

/* Colors.
   ===================================================== */
$FAST-color-contrast-threshold: 55% !default;
$FAST-color-lightness-cap: 95% !default;
$FAST-color-darkness-cap: 15% !default;

$FAST-button-default-color: "cold-grey-xl" !default;
$FAST-button-colors: (
        "primary": "green",
        "secondary": "blue",
        "danger": "red",
        "warning": "yellow",

        "cyan": "cyan",
        "turquoise": "turquoise",
        "black": "black",
        "white": "white"
) !default;

$FAST-text-color-light: "white" !default;
$FAST-text-color-dark: "grey-xd" !default;
$FAST-text-default-color: $FAST-text-color-dark !default;

$FAST-anchor-color: "blue" !default;
$FAST-anchor-color-rev: "white" !default;
$FAST-anchor-hover-color: "blue" !default;
$FAST-anchor-hover-color-rev: "yellow" !default;

$FAST-blockquote-color: "grey-d" !default;

$FAST-code-color: "red-d" !default;
$FAST-code-bg-color: transparent !default;

$FAST-border-color: "cold-grey-xl" !default;

$FAST-icon-border-color: $FAST-border-color !default;

$FAST-header-color: "blue-xxxd" !default;
$FAST-header-menu-item-hover-bg-color: "cold-grey-d" !default;

$FAST-footer-color: $FAST-header-color !default;

$FAST-split-bg-color: "cold-grey-xxl";
$FAST-split-bg-color-dark: "blue-xxxd";


/* Borders.
   ===================================================== */
$FAST-border-width: 1px !default;
$FAST-border-style: solid !default;
$FAST-border: $FAST-border-width $FAST-border-style $FAST-border-color !default;


/* Breakpoints.
   ===================================================== */
$FAST-breakpoints: (
    "tiny": (
        "min": false,
        "max": 640px
    ),
    "small": (
        "min": 641px,
        "max": 1024px
    ),
    "medium": (
        "min": 1025px,
        "max": 1140px
    ),
    "large": (
        "min": 1141px,
        "max": false
    )
) !default;

$FAST-breakpoints-columns: (
        "tiny": 4,
        "small": 8,
        "medium": 12
) !default;


/* Grid.
   ===================================================== */
$FAST-min-columns: 4 !default;
$FAST-max-columns: 12 !default;
$FAST-grid-use-words: false !default;


/* Type.
   ===================================================== */
$FAST-font-url: '//fonts.googleapis.com/css?family=Roboto:100,300,400,700,900,300italic,400italic,700italic' !default;
$FAST-font-family:   "Roboto", "Segoe UI", "Helvetica Neue", Frutiger, "Frutiger Linotype", "Dejavu Sans", Arial, sans-serif !default;

$FAST-phi: 1.618 !default;
$FAST-base-size: 16px !default;
$FAST-line-height: 22px !default;
$FAST-font-weight: 400 !default;
// Base scale: 16, 20, 24, 30, 36, 46, 58, 72

$FAST-font-size-s: .875em !default;
$FAST-font-size-l: 1.25em !default;
$FAST-font-size-xl: 1.5em !default;
$FAST-font-size-xxl: 1.875em !default;

$FAST-paragraph-font-size: $FAST-base-size !default;
$FAST-paragraph-line-height: $FAST-line-height !default;

$FAST-blockquote-style: italic !default;
$FAST-blockquote-font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif !default;

$FAST-h1: (
    font-size: 46px,
    font-weight: 100,
    letter-spacing: -2px,
    line-height: 70px,
    margin: $FAST-line-height / 1.5
) !default;

$FAST-h2: (
        font-size: 36px,
        font-weight: 300,
        letter-spacing: -1px,
        line-height: 54px,
        margin: $FAST-line-height / 1.5
) !default;

$FAST-h3: (
        font-size: 30px,
        font-weight: 400,
        letter-spacing: 0,
        line-height: 42px,
        margin: $FAST-line-height / 1.5
) !default;

$FAST-h4: (
        font-size: 24px,
        font-weight: 400,
        letter-spacing: 0,
        line-height: 32px,
        margin: $FAST-line-height / 1.5
) !default;

$FAST-h5: (
        font-size: 20px,
        font-weight: 700,
        letter-spacing: 0,
        line-height: 22px,
        margin: $FAST-line-height / 2
) !default;

$FAST-h6: (
        font-size: 16px,
        font-weight: 900,
        letter-spacing: 0,
        line-height: 22px,
        margin: $FAST-line-height / 3
) !default;

$FAST-headings: ($FAST-h1, $FAST-h2, $FAST-h3, $FAST-h4, $FAST-h5, $FAST-h6) !default;


/* Spacing.
   ===================================================== */
$FAST-gutter: 30px !default;

$FAST-spacing-v: $FAST-line-height !default;
$FAST-spacing-v-xs: $FAST-spacing-v / 2 !default;
$FAST-spacing-v-s: $FAST-spacing-v / 1.5 !default;
$FAST-spacing-v-l: $FAST-spacing-v * 2 !default;
$FAST-spacing-v-xl: $FAST-spacing-v * 3 !default;

$FAST-blockquote-spacing: 0 $FAST-gutter $FAST-line-height $FAST-gutter !default;

$FAST-header-spacing: $FAST-line-height * 2 !default;


/* Button.
   ===================================================== */
$FAST-button-line-height: $FAST-base-size !default;
$FAST-button-height: $FAST-line-height * 2 !default;
$FAST-button-padding-h: $FAST-gutter !default;


/* Icon.
   ===================================================== */
$FAST-icon-font-path: "../fonts/" !default;
$FAST-icon-li-width: (30em / 14) !default;
$FAST-icon-list-adjust-vertical: 20px !default;


/* Navigation.
   ===================================================== */
$FAST-navigation-expand-breakpoint: "small";


/* Table.
   ===================================================== */
$FAST-table-cell-padding-v: $FAST-line-height / 2;
$FAST-table-cell-padding-h: $FAST-gutter / 2;
$FAST-table-cell-padding: $FAST-table-cell-padding-v $FAST-table-cell-padding-h;
