{#
    Usage:
    ------

    {{fastClassSetter(
        [
            {
                title: 'Title',
                type: 'inc',
                group: 'group_name',
                target: '#selector',
                data: [
                    'class-name1',
                    'class-name2'
                ]
            },
            {
                title: 'Title2',
                type: 'exc',
                group: 'group_name2',
                target: '#selector2',
                data: [
                    'class-name1',
                    'class-name2'
                ]
            }
        ]
    )}}

    Remarks:
    --------
    - Make sure to use a different group name for each set
#}

{% macro fastClassSetterIncItem(group, name, target) %}
<label for="{{group}}-{{name}}"><input type="checkbox" name="{{group}}-{{name}}" id="{{group}}-{{name}}" data-group-name="{{group}}" data-attr="class" data-target="{{target}}" value="{{name}}" /> .{{name}}</label>
{% endmacro %}

{% macro fastClassSetterExcItem(group, name, target) %}
<label for="{{group}}-{{name}}"><input type="radio" name="{{group}}" id="{{group}}-{{name}}" data-attr="class" data-target="{{target}}" value="{{name}}" /> .{{name}}</label>
{% endmacro %}

{% macro fastClassSetterInc(title, data, group, target) %}
    <div class="fast-class-setter-group col">
        <p><strong>{{title}} : </strong>
        {% for item in data %}
            {{fastClassSetterIncItem(group, item, target)}}
        {% endfor %}
        </p>
    </div>
{% endmacro %}

{% macro fastClassSetterExc(title, data, group, target, select) %}
    <div class="fast-class-setter-group col">
    <p><strong>{{title}} : </strong>
    {% if select %}
        <select data-target="{{target}}">
            <option>select...</option>
            {% for item in data %}
                <option value="{{item}}">{{item}}</option>
            {% endfor %}
        </select>
    {% else %}
        {% for item in data %}
            {{fastClassSetterExcItem(group, item, target)}}
        {% endfor %}
        </p>
    {% endif %}
    </div>
{% endmacro %}

{% macro fastClassSetter(data) %}
    <div class="fast-class-setter row">
        {% for item in data %}
            {% if item.type == 'inc' %}
                {{fastClassSetterInc(item.title, item.data, item.group, item.target)}}
            {% endif %}
            {% if item.type == 'exc' %}
                {{fastClassSetterExc(item.title, item.data, item.group, item.target, item.select)}}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% storeAt "javascripts" %}
    <script>
        $('body').on("change", "input, select", function(e) {
            var input = $(e.target);

            if (input.prop("tagName").toLowerCase() == 'select') {
                var target = $(input.data('target'));
                input.find('option').each(function()
                {
                    var cls = $(this).val();
                    var chk = this.selected;

                    if (cls == '' || cls == 'none') {
                        return;
                    }

                    if (chk) {
                        target.addClass(cls);
                    } else {
                        target.removeClass(cls);
                    }
                });
            } else {
                var inputs = input.parents('.fast-class-setter-group').find('input');

                inputs.each(function () {
                    var $input = $(this);
                    var target = $($input.data('target'));
                    var chk = $input.prop('checked');
                    var cls = $input.val();

                    if (chk) {
                        target.addClass(cls);
                    } else {
                        target.removeClass(cls);
                    }
                });
            }
        });
    </script>
{% endstoreAt %}
