/*-------------------------------------------------------*\
    #FAST Button

    @depends on
        - FAST-toolkit
        - FAST-color
\*-------------------------------------------------------*/

/* Variables.
   ===================================================== */

$FAST-button-import: true !default;


/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */
@mixin fast-button-fill-color($color: fastColorGet($FAST-button-default-color)) {
    @include fast-background-color($color);
}

@mixin fast-button-bordered($color) {
    color: $color;

    &:hover {
        background-color: $color;
        box-shadow: inset 0 0 0 2px $color;
        color: fastColorContrast($color);
    }
}


/* Placeholders.
   ===================================================== */


/* Styles.
   ===================================================== */
@if $FAST-button-import {
    .btn {
        @include fast-button-fill-color;
        @include fast-rem(padding, (($FAST-button-height - $FAST-button-line-height) / 2) $FAST-button-padding-h);
        box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0);
        border-radius: 2px;
        cursor: pointer;
        display: inline-block;
        font-size: .875em;
        line-height: $FAST-button-line-height;
        letter-spacing: 1px;
        opacity: .75;
        text-align: center;
        text-transform: uppercase;
        transition: opacity .2s, box-shadow .3s;

        &:hover {
            box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .2);
            opacity: 1;
            text-decoration: none;
        }
    }

    [class^="btn-border"], [class*=" btn-border"] {
        background-color: transparent;
        border-radius: 3px;
        box-shadow: inset 0 0 0 2px currentColor;
        transition: color .2s, background-color .2s;

        &.btn-tiny {
            box-shadow: inset 0 0 0 1px currentColor;
        }

        &.btn-small {
            box-shadow: inset 0 0 0 1px currentColor;
        }

        &.btn-large {
            box-shadow: inset 0 0 0 3px currentColor;
        }
    }

    .btn-border {
        @include fast-button-bordered(fastColorGet($FAST-button-default-color));
    }

    .btn-small {
        @include fast-rem(padding, (($FAST-button-height - $FAST-button-line-height) / 4) ($FAST-button-padding-h / 2));
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
        letter-spacing: 0;
        text-transform: none;

        &:hover {
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
        }
    }

    .btn-tiny {
        @include fast-rem(padding, (($FAST-button-height - $FAST-button-line-height) / 14) ($FAST-button-padding-h / 2));
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
        letter-spacing: 0;
        text-transform: none;

        &:hover {
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
        }
    }

    .btn-large {
        @include fast-rem(padding, ($FAST-button-height - $FAST-button-line-height) $FAST-button-padding-h * 2);
    }

    @each $btn-color in map-get($FAST-data-button, "colors") {
        $name: nth($btn-color, 1);
        $color: nth($btn-color, 2);

        .btn-#{$name} {
            @include fast-button-fill-color($color);
        }

        .btn-border-#{$name} {
            @include fast-button-bordered($color);
        }
    }
}
