/*-------------------------------------------------------*\
    #FAST Deco

    @depends on
        - FAST-toolkit
\*-------------------------------------------------------*/

$FAST-deco-import: true !default;

$FAST-deco-split-bg-light-color: fastColorGet($FAST-split-bg-color) !default;
$FAST-deco-split-bg-dark-color: fastColorGet($FAST-split-bg-color-dark) !default;

/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */


/* Placeholders.
   ===================================================== */
%deco-separator-line-pseudo {
    background-color: rgba(0, 0, 0, .15);
    background: linear-gradient(to right, rgba(0,0,0,0) 15%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.01) 85%);
    bottom: 0;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#03000000',GradientType=1 );
    content: " ";
    height: 1px;
    left: 0;
    margin: 0 auto 0;
    position: absolute;
    width: 100%;
}

/* Styles.
   ===================================================== */
@if $FAST-deco-import {
    .deco-separator-line {
        position: relative;

        &:after {
            @extend %deco-separator-line-pseudo;
        }
    }

    .deco-separator-line-pre {
        position: relative;

        &:before {
            @extend %deco-separator-line-pseudo;
            bottom: auto;
            top: 0;
        }
    }

    .split-bg {
        background: transparent;
        background: linear-gradient(to right,  #ffffff 0%,#ffffff 50%,$FAST-deco-split-bg-light-color 50%,$FAST-deco-split-bg-light-color 100%);
    }

    .split-bg-rev {
        background: transparent;
        background: linear-gradient(to left,  #ffffff 0%,#ffffff 50%,$FAST-deco-split-bg-light-color 50%,$FAST-deco-split-bg-light-color 100%);
    }

    .split-bg-dark {
        background: transparent;
        background: linear-gradient(to right,  #ffffff 0%,#ffffff 50%,$FAST-deco-split-bg-dark-color 50%,$FAST-deco-split-bg-dark-color 100%);
    }

    .split-bg-dark-rev {
        background: transparent;
        background: linear-gradient(to left,  #ffffff 0%,#ffffff 50%,$FAST-deco-split-bg-dark-color 50%,$FAST-deco-split-bg-dark-color 100%);
    }

    .page-heading {
        @extend %unwrap;
        @include fast-background-color(fastColorGet($FAST-header-color));
        margin-bottom: $FAST-header-spacing;
        margin-top: -$FAST-header-spacing;
        padding-top: $FAST-line-height / 2;
    }

    .circle.circle {
        border-radius: 50%;
    }

    .wide {
        flex-grow: 1;
        width: 100%;
    }

    @include fast-mq($FAST-navigation-expand-breakpoint) {
        .page-heading {
            margin-bottom: $FAST-header-spacing;
            margin-top: -$FAST-header-spacing;
            padding-bottom: $FAST-line-height / 2;
            padding-top: $FAST-line-height * 7;
        }
    }

    @each $name, $bp in $FAST-breakpoints {
        @include fast-mq($name) {
            .#{$name}-split-bg {
                background: transparent;
                background: linear-gradient(to right,  #ffffff 0%,#ffffff 50%,$FAST-deco-split-bg-light-color 50%,$FAST-deco-split-bg-light-color 100%);
            }

            .#{$name}-split-bg-rev {
                background: transparent;
                background: linear-gradient(to left,  #ffffff 0%,#ffffff 50%,$FAST-deco-split-bg-light-color 50%,$FAST-deco-split-bg-light-color 100%);
            }

            .#{$name}-split-bg-dark {
                background: transparent;
                background: linear-gradient(to right,  #ffffff 0%,#ffffff 50%,$FAST-deco-split-bg-dark-color 50%,$FAST-deco-split-bg-dark-color 100%);
            }

            .#{$name}-split-bg-dark-rev {
                background: transparent;
                background: linear-gradient(to left,  #ffffff 0%,#ffffff 50%,$FAST-deco-split-bg-dark-color 50%,$FAST-deco-split-bg-dark-color 100%);
            }
        }
    }


}
