/*-------------------------------------------------------*\
    #FAST Deco

    @depends on
        - FAST-toolkit
\*-------------------------------------------------------*/

/* Variables.
   ===================================================== */

$FAST-deco-import: true !default;

$FAST-deco-line-height: 22px !default;


/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */


/* Placeholders.
   ===================================================== */


/* Styles.
   ===================================================== */
@if $FAST-deco-import {
    .deco-separator-line {
        &:after {
            background-color: rgba(0, 0, 0, .15);
            background: linear-gradient(to right, rgba(0,0,0,0) 15%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.01) 85%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#03000000',GradientType=1 );
            content: "";
            height: 1px;
            margin: $FAST-deco-line-height auto ($FAST-deco-line-height * 2) 0;
            width: 100%;
        }
    }
}
