/*-------------------------------------------------------*\
    #FAST Deco

    @depends on
        - FAST-toolkit
\*-------------------------------------------------------*/

$FAST-deco-import: true !default;


/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */


/* Placeholders.
   ===================================================== */
%deco-separator-line-pseudo {
    background-color: rgba(0, 0, 0, .15);
    background: linear-gradient(to right, rgba(0,0,0,0) 15%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.01) 85%);
    bottom: 0;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#03000000',GradientType=1 );
    content: " ";
    height: 1px;
    left: 0;
    margin: 0 auto 0;
    position: absolute;
    width: 100%;
}

/* Styles.
   ===================================================== */
@if $FAST-deco-import {
    .deco-separator-line {
        position: relative;

        &:after {
            @extend %deco-separator-line-pseudo;
        }
    }

    .deco-separator-line-pre {
        position: relative;

        &:before {
            @extend %deco-separator-line-pseudo;
            bottom: auto;
            top: 0;
        }
    }

    .page-heading {
        @extend %unwrap;
        @include fast-background-color($FAST-header-color);
        margin-bottom: $FAST-header-spacing;
        margin-top: -$FAST-header-spacing;
        padding-bottom: $FAST-line-height;
        padding-top: $FAST-line-height * 8;
    }
}
