/*-------------------------------------------------------*\
    #FAST Default
\*-------------------------------------------------------*/

/*
 *  Provide basic and general styles
 */

$FAST-default-import: true !default;

/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */


/* Placeholders.
   ===================================================== */

%clearfix {
   &:before,
   &:after {
      content: " ";
      display: table;
   }

   &:after {
      clear: both;
   }

}


/* Styles.
   ===================================================== */
@if $FAST-default-import {
   .clearfix {
      @extend %clearfix;
   }

   section {
      @include fast-rem(padding, $FAST-spacing-v-xl 0 $FAST-spacing-v-l 0);
   }

   [contenteditable]:focus {
      outline: none;
   }

   .right {
      text-align: right;
   }

   .center {
      text-align: center;
   }

   @for $i from 1 through 6 {
      .depth#{$i}.depth#{$i} {
         @include fast-shadow($i);
      }
   }
}
