/*-------------------------------------------------------*\
    #FAST Default
\*-------------------------------------------------------*/

/*
 *  Provide basic and general styles
 */

/* Variables.
   ===================================================== */
$FAST-default-import: true !default;

$FAST-default-spacing-v: 22px;
$FAST-big-spacing-v: 66px;

/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */


/* Placeholders.
   ===================================================== */


/* Styles.
   ===================================================== */
@if $FAST-default-import {
   section {
      @include fast-rem(padding, $FAST-big-spacing-v 0);
   }
}
