/*-------------------------------------------------------*\
    #FAST Footer

    @depends on
        - FAST-Toolkit
\*-------------------------------------------------------*/

/*
 *  Module description and remarks
 */

$FAST-footer-import: true !default;


/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */


/* Placeholders.
   ===================================================== */


/* Styles.
   ===================================================== */
@if $FAST-footer-import {
    .main-footer {
        @include fast-background-color(fastColorGet($FAST-footer-color));
        @include fast-background-anchor-color(fastColorGet($FAST-footer-color));
        margin-top: $FAST-spacing-v-l;
        padding: $FAST-inner-spacing-v 0;

        .col :last-child {
            margin-bottom: 0;
        }
    }
}
