/*-------------------------------------------------------*\
    #FAST Grid

    @depends on
        - FAST-Toolkit

    @external variables
        - $FAST-breakpoints (See FAST-Page)
\*-------------------------------------------------------*/

/*
 * This defines the grid system with columns, rows and repsonsive tools
 */

/* Variables.
   ===================================================== */

$FAST-grid-import: true !default;

$FAST-gutter: 22px !default;

$FAST-breakpoints-columns: (
    //  name        col-count
        "tiny"      4,
        "small"     8,
        "medium"    12
) !default;

$FAST-grid-min-columns: nth(fast-get-first-list-value($FAST-breakpoints-columns), 2) !default;
$FAST-grid-max-columns: nth(fast-get-last-list-value($FAST-breakpoints-columns), 2) !default;
$FAST-grid-use-words: false !default;


/* Functions.
   ===================================================== */
@function fast-grid-col-class($prefix, $number) {
    $num: fast-number-as-word($number);

    @if $FAST-grid-use-words {
        @if $prefix == false {
            $selector: '.#{$num}, .c#{$number}';
        } @else {
            $selector: '.#{$prefix}-#{$num}, .#{$prefix}-#{$number}';
        }
    } @else {
        @if $prefix == false {
            $selector: '.c#{$number}';
        } @else {
            $selector: '.#{$prefix}-#{$number}';
        }
    }

    @return $selector;
}

/* Mixins.
   ===================================================== */

@mixin fast-grid-columns-styles($prefix: false) {
    /* Start of fast-grid-columns-styles */
    @if $prefix == false {
        $prefix: '';
    } @else {
        $prefix: '#{$prefix}-';
    }

    @for $i from 1 through $FAST-grid-max-columns {
        .#{$prefix}order#{$i} {
            order: $i
        }

        .#{$prefix}order-#{$i} {
            order: -$i
        }
    }

    .#{$prefix}start {
        justify-content: flex-start;
        text-align: start;
    }

    .#{$prefix}center {
        justify-content: center;
        text-align: center;
    }

    .#{$prefix}end {
        justify-content: flex-end;
        text-align: end;
    }

    .#{$prefix}top {
        align-items: flex-start;
    }

    .#{$prefix}middle {
        align-items: center;
    }

    .#{$prefix}bottom {
        align-items: flex-end;
    }

    .#{$prefix}around {
        justify-content: space-around;
    }

    .#{$prefix}between {
        justify-content: space-between;
    }
    /* End of fast-grid-columns-styles */
}

@mixin fast-grid-columns($prefix, $max-columns) {
    /* Start of fast-grid-columns */
    $one-column-width: (100% / $max-columns);

    @for $i from 1 through $max-columns {
        $selector: fast-grid-col-class($prefix, $i);

        #{$selector} {
            flex-basis: ($one-column-width * $i);
            max-width: ($one-column-width * $i);
        }

        @if $i < $max-columns {
            @if $prefix == false {
                $selector: fast-grid-col-class('offset', $i);
            } @else {
                $selector: fast-grid-col-class('#{$prefix}-offset', $i);
            }

            #{$selector} {
                margin-left: ($one-column-width * $i);
            }
        }
    }
    /* End of fast-grid-columns */
}

/**
 *  Set sizes for all the columns without prefixes, based on the ($vol-count) available columns.
 *  [1] - We want to redefine every column class name unprefixed.
 *        So we loop on the max-columns.
 *  [2] - When a column number is above the current available columns, we store it for later
 *  [3] - Now that all the exceding columns are grouped, we flatten them as a selector and set the rule to 100%
 */
@mixin fast-grid-default-columns($col-count, $col-max) {
    /* Start of fast-grid-default-columns */
    $maxed-columns: ();

    @for $i from 1 through $col-max { // [1]
        $selector: fast-grid-col-class(false, $i);

        @if ($i < $col-count) {
            $w: ((100% / $col-count) * $i);

            #{$selector} {
                flex-basis: $w;
                max-width: $w;
            }
        } @else {
            $tmp: $maxed-columns;
            $maxed-columns: append($maxed-columns, '#{$selector}'); // [2]
        }
    }

    @if length($maxed-columns) > 0 {
        #{fast-list-join($maxed-columns, ',')} { // [3]
            flex-basis: 100%;
            max-width: 100%;
        }
    }
    /* End of fast-grid-default-columns */
}

@mixin fast-grid-content-spacing {
    padding-left: ($FAST-gutter / 2);
    padding-right: ($FAST-gutter / 2);
}

@mixin fast-grid-content-spacing-remove {
    padding-left: 0;
    padding-right: 0;
}

@mixin fast-grid-container-spacing {
    margin-left: -($FAST-gutter / 2);
    margin-right: -($FAST-gutter / 2);
}


/* Placeholders.
   ===================================================== */


/* Styles.
   ===================================================== */
@if $FAST-grid-import {
    .wrapper, h1 {
        @include fast-grid-content-spacing;
    }

    .wrapper h1 {
        @include fast-grid-content-spacing-remove;
    }

    .row {
        @include fast-grid-container-spacing;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col {
        @include fast-grid-content-spacing;
        /*display: flex;
        flex: 1 1 auto;*/ // Display flex on columns makes everything look like it's inline !
        //flex-direction: column; // This causes the content to flow vertically
    }

    .row.reverse {
        flex-direction: row-reverse;
    }

    .col.reverse {
        flex-direction: column-reverse;
    }

    @include fast-grid-columns-styles();

    /**
     *  Generate columns styles for each breakpoint declared in $FAST-breakpoints-columns
     *  [1] - Get the media query data that matches the current breakpoint name and check that it exists ([1b])
     *  [2] - If the current breakpoints covers less columns than the maximum, the excedent columns will all be 100%.
     *        Prepare a list to hold the classes names for these columns and group them later.
     */
    @for $i from 1 through length($FAST-breakpoints-columns) {
        /* Start of Breakpoints loop */
        $bp-columns: nth($FAST-breakpoints-columns, $i);
        $name: nth($bp-columns, 1);
        $columns-count: nth($bp-columns, 2);

        $bp: fast-get-list-value-by-name($FAST-breakpoints, $name); // [1]

        @if $bp != false { // [1b]
            $min: nth($bp, 2);
            $max: nth($bp, 3);
            $maxed-columns: (); // [2]
            $limit-query: true;

            // If this is the last media query, we don't want a max-width
            @if $i == length($FAST-breakpoints-columns) {
                $limit-query: false;
            }

            // Start the media query
            @include fast-mq($name, $limit-query) {
                // Generate the generic columns names (without media query prefix)
                @include fast-grid-default-columns($columns-count, $FAST-grid-max-columns);

                // Generate the prefixed columns names
                @include fast-grid-columns($name, $columns-count);

                @include fast-grid-columns-styles($name);
            }
        }
        /* End of Breakpoints loop */
    }
}
