/*-------------------------------------------------------*\
    #FAST Header

    @depends on
        - FAST-toolkit
\*-------------------------------------------------------*/

$FAST-header-import: true !default;


/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */


/* Placeholders.
   ===================================================== */


/* Styles.
   ===================================================== */
@if $FAST-header-import {
    .main-header {
        margin-bottom: $FAST-line-height * 2;

        .alpha, .beta {
            @include fast-background-color(fastColorGet($FAST-header-color));
            @include fast-background-anchor-color(fastColorGet($FAST-header-color));
            @include fast-rem(padding-top, ($FAST-line-height / 2));
            @include fast-rem(padding-bottom, ($FAST-line-height / 2));
            align-items: center;
            display: flex;

        }

        &.fixed {
            min-height: 3.5em;
            .alpha {
                position: fixed;
                width: 100%;
                z-index: 500;
            }
        }

        a {
            text-decoration: none;
        }
    }

    .logo {
        @include fast-rem(font-size, $FAST-font-size-l);
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 2.2;
        padding: 0 ($FAST-gutter / 2);
        text-transform: uppercase;

        a {
            $logo-font-size-unitless: $FAST-font-size-l / ($FAST-font-size-l * 0 + 1);
            $logo-font-size-px: $FAST-base-size * $logo-font-size-unitless;

            background: transparent url($FAST-logo-url) no-repeat left center;
            background-size: contain;
            display: inline-block;
            padding-left: $logo-font-size-px * 2.2;
        }

        a:hover {
            color: #fff;
        }
    }

    @include fast-mq($FAST-navigation-expand-breakpoint) {
        .main-header {
            @include fast-background-color(fastColorGet($FAST-header-color));

            &.fixed {
                position: fixed;
                width: 100%;
                z-index: 1;

                .alpha {
                    position: static;
                    width: auto;
                }
            }
        }
    }
}
