/*-------------------------------------------------------*\
    #FAST Icon

    @depends on
        - FAST-toolkit
\*-------------------------------------------------------*/
@import "../generated/icons";

$FAST-icon-import: true !default;
$FAST-icon-font-name: fastMapDeepGet($FAST-data-icons, options, fontName) !default;
$FAST-icon-codepoints: map-get($FAST-data-icons, codepoints) !default;


/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */

@mixin fast-icon {
    display: inline-block;
    font: normal normal normal #{$FAST-base-size}/1 $FAST-icon-font-name;
    @include fast-rem(font-size, $FAST-base-size);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    transform: translate(0, 0);
    vertical-align: baseline;
    width: 1em;
}


/* Placeholders.
   ===================================================== */
%ico {
    &:before {
        @include fast-icon;
        margin-right: .2em;
    }
}

%ico-a {
    &:after {
        @include fast-icon;
        margin-left: .2em;
    }
}

@each $codepoint, $code in $FAST-icon-codepoints {
    %ico-#{map-get($codepoint, name)}:before, %ico-a-#{map-get($codepoint, name)}:after {
        content: '\#{map-get($codepoint, codepoint)}';
    }
}

/* Styles.
   ===================================================== */
@if $FAST-icon-import {
    @font-face {
        font-family: '#{$FAST-icon-font-name}';
        src: url('#{$FAST-icon-font-path}#{$FAST-icon-font-name}.eot'); /* IE9 Compat Modes */
        src: url('#{$FAST-icon-font-path}#{$FAST-icon-font-name}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        //url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('#{$FAST-icon-font-path}#{$FAST-icon-font-name}.woff') format('woff'), /* Pretty Modern Browsers */
        url('#{$FAST-icon-font-path}#{$FAST-icon-font-name}.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('#{$FAST-icon-font-path}#{$FAST-icon-font-name}.svg#svgFontName') format('svg'); /* Legacy iOS */
        font-weight: normal;
        font-style: normal;
    }

    [class^="ico-"]:before, [class*=" ico-"]:before {
        @extend %ico;
    }

    [class^="ico-a-"]:after, [class*=" ico-a-"]:after {
        @extend %ico-a;
    }

    // Larger icons
    .ico-lg:before, .ico-2x:before, .ico-3x:before, .ico-4x:before, .ico-5x:before,
    .ico-a-lg:after, .ico-a-2x:after, .ico-a-3x:after, .ico-a-4x:after, .ico-a-5x:after {
        vertical-align: middle;
    }

    .ico-lg:before, .ico-a-lg:after {
        @include fast-rem(font-size, ((4 * $FAST-base-size) / 3));
    }

    .ico-2x:before, .ico-a-2x:after {
        @include fast-rem(font-size, (2 * $FAST-base-size));
    }

    .ico-3x:before, .ico-a-3x:after {
        @include fast-rem(font-size, (3 * $FAST-base-size));
    }

    .ico-4x:before, .ico-a-4x:after {
        @include fast-rem(font-size, (4 * $FAST-base-size));
    }

    .ico-5x:before, .ico-a-5x:after {
        @include fast-rem(font-size, (5 * $FAST-base-size));
    }

    .ico-ul {
        padding-left: 0;
        margin-left: $FAST-icon-li-width;
        list-style-type: none;
        > li { position: relative; }
    }

    .ico-li {
        &:before {
            position: absolute;
            left: -$FAST-icon-li-width;
            width: $FAST-icon-li-width;
            top: (2em / 14);
            text-align: center;
        }

        &.ico-lg:before {
            left: -$FAST-icon-li-width + (4em / 14);
        }
    }

    .ico-border:before, .ico-a-border:after {
        padding: .2em .25em .15em;
        border: .08em solid $FAST-icon-border-color;
        border-radius: .1em;
    }

    .ico-spin:before, .ico-a-spin:after {
        animation: fast-spin 2s infinite linear;
    }

    .ico-pulse:before, .ico-a-pulse:after {
        animation: fast-spin 1s infinite steps(8);
    }

    .ico-rotate-90:before, .ico-a-rotate-90:after  {
        @include fast-rotate(90deg, 1);
    }

    .ico-rotate-180:before, .ico-a-rotate-180:after {
        @include fast-rotate(180deg, 2);
    }

    .ico-rotate-270:before, .ico-a-rotate-270:after {
        @include fast-rotate(270deg, 3);
    }

    .ico-flip-horizontal:before, .ico-a-flip-horizontal:after {
        @include fast-flip(-1, 1, 0);
    }

    .ico-flip-vertical:before, .ico-a-flip-vertical:after {
        @include fast-flip(1, -1, 2);
    }

    .ico-only.ico-only {
        font-size: 0;

        &:before, &:after {
            margin: 0;
            vertical-align: middle;
            width: 1em;
        }
    }

    @each $codepoint, $code in $FAST-icon-codepoints {
        .ico-#{map-get($codepoint, name)} {
            @extend %ico-#{map-get($codepoint, name)};
        }

        .ico-a-#{map-get($codepoint, name)} {
            @extend %ico-a-#{map-get($codepoint, name)};
        }
    }

    ul {
        list-style: none;
        li {
            @extend %ico;
            @extend %ico-chevron-right;
            position: relative;

            &:before {
                color: fastColorGet('blue-xl');
                font-size: .625em;
                left: - $FAST-gutter;
                line-height: $FAST-icon-list-adjust-vertical;
                position: absolute;
                text-align: center;
                width: .75em;
            }
        }

        li li {
            @extend %ico-circle-blank;
        }

        li li li {
            @extend %ico-minus;
        }
    }

    blockquote {
        @extend %ico;
        @extend %ico-quote-left;

        &:before {
            color: fastColorGet('turquoise');
            float: left;
            padding-right: .5em;
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    cite {
        @extend %ico;
        @extend %ico-minus;

        &:before {
            margin-right: .5em;
            color: fastColorGet('turquoise');
        }
    }
}