/*-------------------------------------------------------*\
    #FAST List

    @depends on
        - FAST-toolkit
\*-------------------------------------------------------*/

/*
 *  Module description and remarks
 */

$FAST-list-import: true !default;


/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */


/* Placeholders.
   ===================================================== */


/* Styles.
   ===================================================== */
@if $FAST-list-import {
    ul, ol {
        list-style-position: outside;
        margin-left: $FAST-gutter;
    }

    li {
        margin-left: 0;
    }
}