/*-------------------------------------------------------*\
    #FAST Navigation

    @depends on
        - FAST-toolkit
\*-------------------------------------------------------*/

/*
 *  Module description and remarks
 */

$FAST-navigation-import: true !default;


/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */


/* Placeholders.
   ===================================================== */


/* Styles.
   ===================================================== */
@if $FAST-navigation-import {
    .main-nav {
        ul, nav, li {
            margin: 0;
            padding: 0;
        }

        li {
            transition: background-color .2s;
            &:before {
                content: none;
            }

            &:hover {
                background: rgba(255, 255, 255, .1);
            }
        }

        a {
            @include fast-rem(padding, ($FAST-line-height / 2) ($FAST-gutter / 4));
            display: block;
        }
    }

    // Build a media query that stops at the minimum of the expand nav breakpoint
    @each $bp-name, $sizes in $FAST-breakpoints {
        @if $bp-name == $FAST-navigation-expand-breakpoint {
            $min: map-get($sizes, "min");

            @include fast-build-mq(false, $min - 1) {
                .main-content, .main-footer {
                    transition: transform .3s ease-in-out;
                }

                .main-header .main-nav {
                    align-items: flex-start;

                    a {
                        &:hover {
                            color: fastColorGet($FAST-anchor-color-rev);
                        }
                    }
                }

                .main-nav {
                    height: 100%;
                    position: fixed;
                    right: -20em;
                    top: 0;
                    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
                    width: 20em;
                    z-index: 1;

                    ul, nav, li {
                        width: 100%;
                    }

                    nav {
                        max-height: 100%;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        padding: 3.5em (fastEm($FAST-gutter / 4)) + 1em 3.5em fastEm($FAST-gutter / 4);
                    }

                    ul {
                        position: relative;

                        ul {
                            background: fastColorGet($FAST-header-color);
                            min-height: 100%;
                            position: absolute;
                            top: 0;
                            transform: translate3d(20em, 0, 0);
                            transition: transform .3s ease-in-out;
                            transition-delay: .3s;
                        }
                    }

                    li {
                        border-top: 1px solid fastColorGet("cold-grey-d");
                        position: static;
                        width: 100%;

                        &:last-child {
                            border-bottom: 1px solid fastColorGet("cold-grey-d");
                        }

                        &:hover {
                            > ul {
                                transform: translate3d(0,0,0);
                            }
                        }
                    }
                }

                .main-nav-toggle {
                    text-align: right;
                    position: relative;
                    flex-grow: 1;

                    a {
                        @include fast-rem(padding-top, ($FAST-line-height / 2));
                        @include fast-rem(padding-bottom, ($FAST-line-height / 2));
                    }

                    .menu-close {
                        display: block;
                        left: 0;
                        position: absolute;
                        height: 100%;
                        top: 0;
                        width: 100%;
                        z-index: -1;
                    }

                    &:hover {
                        .menu-open {
                            color: rgba(fastColorGet($FAST-anchor-color-rev), .5) !important;

                            span {
                                transform: scale(-1, 1);
                            }
                        }
                    }

                    .menu-open {
                        line-height: 1em;
                        text-transform: uppercase;
                        transition: all .2s ease-in-out;

                        span {
                            color: transparent;
                            display: inline-block;
                            height: 1em;
                            line-height: 1em;
                            position: relative;
                            transition: all .2s ease-in-out;

                            &:before, &:after {
                                content: "";
                                background-color: fastColorGet($FAST-anchor-color-rev);
                                display: block;
                                height: .115em;
                                position: absolute;
                                transition: transform .3s ease-in-out, box-shadow .2s ease-in;
                                width: 100%;
                            }

                            &:before {
                                box-shadow: 0 .3em 0 0 fastColorGet($FAST-anchor-color-rev);
                                top: .11em;
                            }

                            &:after {
                                bottom: .17em;
                            }
                        }
                    }
                }

                #bodyWrapper:target {
                    .main-content, .main-footer, .main-nav {
                        transform: translate3d(-18em, 0, 0);
                    }

                    .main-nav-toggle {
                        .menu-close {
                            z-index: 1;
                        }
                    }

                    .menu-open {
                        color: transparent !important;
                        font-size: 0;
                        @include fast-rem(height, $FAST-base-size);

                        span {
                            @include fast-rem(font-size, $FAST-base-size);
                            @include fast-rem(line-height, $FAST-base-size);

                            &:before {
                                box-shadow: 0 0 0 0 transparent;
                                transform: scale(2) translate3d(0, .15em, 0) rotate(-135deg);
                            }

                            &:after {
                                transform: scale(2) translate3d(0, -.15em, 0) rotate(135deg);
                            }
                        }
                    }
                }
            }
        }
    }

    @include fast-mq($FAST-navigation-expand-breakpoint) {
        .main-nav {
            @include fast-rem(padding-left, ($FAST-gutter/2));
            @include fast-rem(padding-right, ($FAST-gutter/2));
            flex-grow: 1;
            justify-content: flex-end;

            ul {
                display: flex;

                ul {
                    background-color: fastColorGet($FAST-header-color);
                    display: none;
                    position: absolute;

                    li {
                        position: relative;
                    }

                    ul {
                        left: 100%;
                        top: 0;
                    }
                }
            }

            li {
                border-radius: 3px;

                &:hover {
                    > ul {
                        display: block;
                    }
                }
            }
        }

        .main-nav-toggle {
            display: none;
        }
    }
}
