/*-------------------------------------------------------*\
    #FAST Navigation

    @depends on
        - FAST-toolkit
\*-------------------------------------------------------*/

/*
 *  Module description and remarks
 */

$FAST-navigation-import: true !default;


/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */


/* Placeholders.
   ===================================================== */


/* Styles.
   ===================================================== */
@if $FAST-navigation-import {
    .main-header .alpha {
        width: 100%;
    }
    .main-nav-toggle {
        text-align: right;
        position: relative;
        flex-grow: 0;

        &:hover {
            .menu-open {
                color: rgba(fastColorGet($FAST-anchor-color-rev), .5) !important;
            }
            .menu-open span {
                transform: scale(-1, 1);
            }
        }

        .menu-close {
            display: block;
            left: 0;
            position: absolute;
            height: 100%;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        .menu-open {
            align-content: center;
            align-items: center;
            display: inline-flex;
            line-height: 1em;
            height: 1em;
            text-transform: uppercase;
            transition: all .2s ease-in-out;

            &:hover {
                color: fastColorGet($FAST-anchor-color-rev);
            }

            span {
                color: transparent;
                display: inline-block;
                position: relative;
                transition: all .2s ease-in-out;

                &:before, &:after {
                    content: "";
                    background-color: fastColorGet($FAST-anchor-color-rev);
                    display: block;
                    height: .115em;
                    position: absolute;
                    transition: transform .3s ease-in-out, box-shadow .2s ease-in;
                    width: 100%;
                }

                &:before {
                    box-shadow: 0 .3em 0 0 fastColorGet($FAST-anchor-color-rev);
                    top: .11em;
                }

                &:after {
                    bottom: .17em;
                }
            }
        }

        :target & {
            .menu-close {
                z-index: 1;
            }

            .menu-open {
                color: transparent;
                font-size: 0;
                @include fast-rem(height, $FAST-base-size);

                span {
                    @include fast-rem(font-size, $FAST-base-size);
                    @include fast-rem(line-height, $FAST-base-size);

                    &:before, &:after {
                        transition: transform .3s ease-out, box-shadow .2s linear;
                    }

                    &:before {
                        box-shadow: 0 0 0 0 transparent;
                        transform: scale(2) translate3d(0, .02em, 0) rotate(-135deg);
                    }

                    &:after {
                        transform: scale(2) translate3d(0, -.30em, 0) rotate(135deg);
                    }
                }
            }
        }
    }

    .main-nav.main-nav {
        transition: padding .2s;
        transition-delay: .1s;
        width: 100%;
    }

    .main-nav {
        :target & {
            padding: ($FAST-line-height / 2) 0;
        }

        nav {
            padding: 0 ($FAST-gutter / 2);
            width: 100%;
        }

        ul {
            margin: 0;
            position: relative;
            text-align: center;
        }

        li {
            max-height: 0;
            border-top: 0 solid fastColorGet("cold-grey-d");
            opacity: 0;
            transition: max-height .3s, border .3s, opacity .3s;
            transition-delay: .1s;

            :target & {
                border-top-width: 1px;
                max-height: 10em;
                opacity: 1;
            }

            &:hover {
                background: rgba(255,255,255,.1);
            }

            &:before {
                content: none;
            }

            a {
                @include fast-rem(padding, ($FAST-line-height / 2) 0);
                display: block;
            }
        }

        &.main-nav li li {
            max-height: 0;
            border-top: 0 solid fastColorGet("cold-grey-d");
            opacity: 0;
            transition-delay: .3s;

        }

        &.main-nav li:hover li {
            border-top-width: 1px;
            max-height: 10em;
            opacity: 1;
        }

        a {
            &:hover {
                color: fastColorGet($FAST-anchor-color-rev);
            }
        }
    }

    @include fast-mq($FAST-navigation-expand-breakpoint) {
        .main-header.fixed {
            position: fixed;
            width: 100%;
            z-index: 1;
        }
        .main-header .alpha {
            width: auto;
        }

        .main-nav-toggle {
            display: none;
        }

        .main-nav.main-nav {
            justify-content: flex-end;
            flex-grow: 1;
            width: auto;
        }

        .main-nav {
            nav, ul, li {
                max-height: none;
                margin: 0;
                opacity: 1;
                width: auto;
            }

            ul li, a {
                border: none;
                display: inline-block;
            }

            nav ul li {
                border-radius: 3px;
            }

            nav ul li a {
                padding: .25em ($FAST-gutter / 4);
            }

            &.main-nav ul ul li {
                display: none;
                opacity: 1;
                position: absolute;
            }

            &.main-nav li:hover li {
                border: none;
                display: block;
                opacity: 1;
            }
        }
    }
}
