/*-------------------------------------------------------*\
    #FAST Page

    @depends on
        - FAST-Toolkit
\*-------------------------------------------------------*/

/*
 *  Define main page and wrapper behviour
 */

$FAST-page-import: true !default;

/* Functions.
   ===================================================== */


/* Mixins.
   ===================================================== */


/* Placeholders.
   ===================================================== */


/* Styles.
   ===================================================== */
@if $FAST-page-import {
    html{
        height: 100%;
    }

    body {
        min-height: 100%;
        overflow-x: hidden;
    }

    .wrapper, h1 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    %unwrap, .unwrap {
        margin-left: - ($FAST-gutter / 2);
        margin-right: - ($FAST-gutter / 2);
        padding-right: ($FAST-gutter / 2);
        padding-left: ($FAST-gutter / 2);
    }

    /**
     *  Loop through each breakpoint and set the wrapper size to the min-width of that breakpoint
     *  [1] : If a min-width is specified, wrap the rule in a media query.
     */
    @each $bp in $FAST-breakpoints {
        $name: nth($bp, 1);
        $min: nth($bp, 2);

        @if $min != false { // [1]
            @include fast-mq($name) {
                .wrapper, h1 {
                    width: $min;
                }

                %unwrap, .unwrap {
                    margin-left: calc(((#{$min} - 100vw) / 2) - (#{$FAST-gutter} / 2));
                    margin-right: 0;
                    padding-right: calc(((100vw - #{$min}) / 2) + (#{$FAST-gutter} / 2));
                    padding-left: calc(((100vw - #{$min}) / 2) + (#{$FAST-gutter} / 2));
                    width: 100vw;
                }
            }
        }
    }
}
