<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}My Site{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {% block head %}
    <link rel="stylesheet" href="{{ root_prefix }}css/main.css">
    <link rel="stylesheet" href="{{ root_prefix }}css/github.css">
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{ root_prefix }}css/ie9.css">
    <![endif]-->
    {% endblock %}
</head>
<body>
    <header class="main-header">
        <div class="wrapper">
            <p>test</p>
        </div>
    </header>
    <div class="main-content">
        <div class="wrapper">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer class="main-footer">
        <div class="wrapper">
            test
        </div>
    </footer>

{% block javascripts %}
<script src="{{ root_prefix }}js/libs/jquery-1.11.2.js"></script>
<script src="{{ root_prefix }}js/main.js"></script>
{% endblock %}
{% for script in storeAt.javascripts -%}
{%- autoescape false -%}
{{- script -}}
{%- endautoescape -%}
{%- endfor %}
</body>
</html>
