<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {% block head %}
    <link rel="stylesheet" href="{{ root_prefix }}css/main.css">
    <link rel="stylesheet" href="{{ root_prefix }}css/github.css">
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{ root_prefix }}css/ie9.css">
    <![endif]-->
    {% endblock %}
</head>
<body id="bodyWrapper">
    <header class="main-header fixed">
        <div class="wrapper">
            <div class="row">
                <div class="alpha">
                    <div class="logo"><a href="/">FAST</a></div>
                    <div class="main-nav-toggle col">
                        <a class="menu-open" href="#bodyWrapper">M<span>e</span>nu</a>
                        <a class="menu-close" href="#"></a>
                    </div>
                </div>
                <div class="beta main-nav">
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/elements">Elements</a>
                                <ul>
                                    <li><a href="/elements/button">Buttons</a>
                                        <ul>
                                            <li><a href="/elements/button/icon.html">Icons</a></li>
                                            <li><a href="/elements/button/group.html">Group</a></li>
                                            <li><a href="/elements/button/variations.html">Variations</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/elements/tooltip">Tooltips</a></li>
                                    <li><a href="/elements/dropdown">Dropdowns</a></li>
                                </ul>
                            </li>
                            <li><a href="/general">General</a>
                                <ul>
                                    <li><a href="/general/default">Basic styles</a></li>
                                    <li><a href="/general/color">Colors</a></li>
                                    <li><a href="/general/icon">Icons</a></li>
                                    <li><a href="/general/type">Typography</a></li>
                                </ul>
                            </li>
                            <li><a href="/layout">Layout</a>
                                <ul>
                                    <li><a href="/layout/html">HTML</a></li>
                                    <li><a href="/layout/page">Page</a></li>
                                    <li><a href="/layout/grid">Grid</a></li>
                                </ul>
                            </li>
                            <li><a href="/structures">Structures</a>
                                <ul>
                                    <li><a href="/structures/table">Tables</a></li>
                                    <li><a href="/structures/panel">Panel</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="main-content">
        <div class="wrapper">
            <div class="page-heading">
                <h1>{{ title }}</h1>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer class="main-footer">
        <div class="wrapper">
            <div class="row end">
                <div class="col">
                    <p class="dimmed">FAST - Fast Application Styling Tools</p>
                </div>
            </div>
        </div>
    </footer>

{% block javascripts %}
<script src="{{ root_prefix }}js/libs/jquery-1.11.2.js"></script>
<script src="{{ root_prefix }}js/toolkit.js"></script>
<script src="{{ root_prefix }}js/tooltip.js"></script>
<script src="{{ root_prefix }}js/table.js"></script>
<script src="{{ root_prefix }}js/panel.js"></script>
<script src="{{ root_prefix }}js/main.js"></script>
{% endblock %}
{% for script in storeAt.javascripts -%}
{%- autoescape false -%}
{{- script -}}
{%- endautoescape -%}
{%- endfor %}
</body>
</html>
