<style>
    .cell {
        text-align: center;
    }

    .content {
        padding: .5em 0;
        margin: .25em;
    }
</style>

<h2>Background</h2>
<div class="row">
    {% for key, color in data.common.color.list %}
    <div class="cell col c2">
        <div class="content bg-{{key}}">.{{key}}</div>
    </div>
    {% endfor %}
</div>

<h2>Text</h2>
<div class="row">
    {% for key, color in data.common.color.list %}
    <div class="cell col c2">
        <div class="content color-{{key}}">.{{key}}</div>
    </div>
    {% endfor %}
</div>
