{% include "variables.tpl" %}
{% include "private_variables.tpl" %}

{% macro table(classes, responsive, responsive_small, data) %}

    <table{% if classes %} class="{{classes}}"{% endif %}>
    {% if data.thead %}
    <thead>
        <tr>
            {% for entry in data.thead %}
            <{{ entry.type }}>{{ entry.value }}</{{ entry.type }}>
                                                 {% endfor %}
        </tr>
    </thead>
    {% endif %}
    {% if data.tfoot %}
    <tfoot>
        <tr>
            {% for entry in data.tfoot %}
            <{{ entry.type }}>{{ entry.value }}</{{ entry.type }}>
                                                 {% endfor %}
        </tr>
    </tfoot>
    {% endif %}
    {% if data.tfoot %}
    <tbody>
        {% for row in data.tbody %}
        <tr>
            {% for entry in row %}
            <{{ entry.type }}>{{ entry.value }}</{{ entry.type }}>
        {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
    </table>
{% endmacro %}

{% macro classInput(name, target, checked) %}
{%if !target%}
    {% set target = "class" %}
{% endif %}
<label for="fld-class-{{name}}"><input type="checkbox" name="fld-class-{{name}}" id="fld-class-{{name}}" data-attr="{{target}}" value="{{name}}"{% if checked %} checked{% endif %} /> .{{name}}</label>
{% endmacro %}

{% macro colorInput(name, checked) %}
<label for="fld-color-{{name}}"><input type="radio" name="fld-color" id="fld-color-{{name}}" data-attr="class" value="{{name}}"{% if checked %} checked{% endif %} /> .{{name}}</label>
{% endmacro %}

{% macro divInput(name, txt, checked) %}
<label for="fld-div-{{name}}"><input type="checkbox" name="fld-div-{{name}}" id="fld-div-{{name}}" data-attr="div" value="{{name}}"{% if checked %} checked{% endif %} /> {{txt}}</label>
{% endmacro %}

<style name="Demo styles">
    body {
        overflow-x: hidden;
    }
</style>

<section class="unwrap deco-separator-line deco-separator-line-pre medium-split-bg-rev">
    <div class="row">
        <div class="col medium-6">
            <h2>Setup table</h2>
            <p class="btn-group wide">
                <a class="btn ico-plus" id="addRow">Add row</a>
                <a class="btn ico-plus" id="addColumn">Add column</a>
                <a class="btn ico-magic" id="getData">Generate data</a>
            </p>
            <p class="btn-group wide">
                <a class="btn btn-small ico-exchange" id="toggleTag">Toggle header</a>
                <a class="btn btn-small ico-align-left ico-only" id="alignLeft">Align left</a>
                <a class="btn btn-small ico-align-center ico-only" id="alignCenter">Align center</a>
                <a class="btn btn-small ico-align-right ico-only" id="alignRight">Align right</a>
            </p>
            <p class="btn-group wide">
                <a class="btn btn-small ico-circle-blank ico-only btn-color-toggle">no color</a>
                {% for key, color in data.common.color.list %}
                <a class="btn btn-small ico-circle color-{{key}} ico-only btn-color-toggle" data-cls="{{key}}">Color {{key}}</a>
                {% endfor %}
            </p>
            <div id="styler">
                <p><strong>Classes : </strong>
                    {{classInput("card", "div")}}
                    {{classInput("contrast", "div")}}
                    {{classInput("breathe")}}
                    {{classInput("compact")}}
                    {{classInput("zebra")}}
                    {{classInput("bordered", "class", true)}}
                    {{classInput("spaced")}}
                    {{classInput("fixed")}}
                </p>
                <p><strong>Colors : </strong>
                    {{colorInput('none')}}
                    {% for key, color in data.common.table.colors %}
                    {{colorInput(key)}}
                    {% endfor %}
                </p>
                <p><strong>Responsive expand : </strong>
                    {{divInput("tiny-table-expand", "For tiny screens")}}
                    {{divInput("small-table-expand", "For small screens")}}
                    {{divInput("medium-table-expand", "For medium screens")}}
                </p>
            </div>
        </div>
        <div id="playground" class="col medium-6">
            <div class="table-wrapper">
                <table class="bordered">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
            <textarea></textarea>
        </div>
    </div>
</section>


<script>
    var data_gen_api_key = "{{ data_gen_api_key }}";
</script>

{% storeAt "javascripts" %}
<script>
    var inputs = $('#styler input');
    var btn_add_row = $('#addRow');
    var btn_add_col = $('#addColumn');
    var btn_get_data = $('#getData');
    var btn_toggle_tag = $('#toggleTag');
    var btn_aling_left = $('#alignLeft');
    var btn_aling_center = $('#alignCenter');
    var btn_aling_right = $('#alignRight');
    var btn_color = $('.btn-color-toggle');
    var col_count = 0;
    var playground = $('#playground');
    var thead_tr = $('thead tr', playground);
    var tfoot_tr = $('tfoot tr', playground);
    var tbody = $('tbody', playground);
    var textarea = $('textarea', playground);
    var current_focus = null;

    btn_add_row.on('click', function(e) {
        var row = $('<tr></tr>');

        for (var i = 0; i < col_count; i++) {
            row.append('\n<td contenteditable="true"></td>');
        }

        tbody.append(row);
    });

    btn_add_col.on('click', function(e) {
        col_count++;
        var new_td = '<td contenteditable="true"></td>';
        var new_th = '<th contenteditable="true"></th>';
        thead_tr.append(new_th);
        tfoot_tr.append(new_td);
        $('tr', tbody).each(function() {
            $(this).append(new_td);
        });
    });

    btn_get_data.on('click', function(e) {
        e.preventDefault();

        generateData(5, 7);
    });

    playground.on('focus', 'td, th', function(e) {
        current_focus = $(e.currentTarget);
    });

    btn_toggle_tag.on('click', function(e) {
        if (current_focus != null) {
            var tag_name = current_focus.prop("tagName").toLowerCase();
            var new_tag_name = (tag_name == "td") ? "th" : "td";
            var new_tag = $('<' + new_tag_name + ' contenteditable="true">' + current_focus.html() + '</' + new_tag_name + '>');
            current_focus.replaceWith(new_tag);
            new_tag.focus();
        }
    });

    btn_aling_left.on('click', function(e) {
        if (current_focus != null) {
            current_focus.removeClass('right');
            current_focus.removeClass('center');

            textarea.val(replaceAll($('.table-wrapper', playground)[0].outerHTML, ' contenteditable="true"', ''));
        }
    });

    btn_aling_center.on('click', function(e) {
        if (current_focus != null) {
            current_focus.removeClass('right');
            current_focus.addClass('center');

            textarea.val(replaceAll($('.table-wrapper', playground)[0].outerHTML, ' contenteditable="true"', ''));
        }
    });

    btn_aling_right.on('click', function(e) {
        if (current_focus != null) {
            current_focus.addClass('right');
            current_focus.removeClass('center');

            textarea.val(replaceAll($('.table-wrapper', playground)[0].outerHTML, ' contenteditable="true"', ''));
        }
    });

    btn_color.on('click', function(e) {
        if (current_focus != null) {
            var col = $(this).data('cls');
            btn_color.each(function() {
                var c = $(this).data('cls');
                current_focus.removeClass('bg-' + c);
            });
            if (col != undefined) {
                current_focus.addClass('bg-' + col);
            }

            textarea.val(replaceAll($('.table-wrapper', playground)[0].outerHTML, ' contenteditable="true"', ''));
        }
    });
    function escapeRegExp(string) {
        return string.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
    }
    function replaceAll(string, find, replace) {
        return string.replace(new RegExp(escapeRegExp(find), 'g'), replace);
    }
    playground.bind("DOMSubtreeModified", function() {
        textarea.val(replaceAll($('.table-wrapper', playground)[0].outerHTML, ' contenteditable="true"', ''));
    });

    inputs.on("change", function(e) {
        var div_class = "table-wrapper";
        var table_class = "";

        inputs.each(function() {
            var chk = $(this).prop('checked');
            var target = ($(this).data('attr') == 'div') ? div_class : table_class;
            var cls = $(this).val();

            if (chk && cls != "none") {
                if ($(this).data('attr') == 'div') {
                    div_class += " " + cls;
                } else {
                    table_class += " " + cls;
                }
            }
        });

        $('#playground .table-wrapper').attr("class", div_class);
        $('#playground table').attr("class", table_class);
        textarea.val(replaceAll($('.table-wrapper', playground)[0].outerHTML, ' contenteditable="true"', ''));
    });

    var generateData = function(cols, rows) {
        var data_types = [
            {type: 'City', name: 'City'},
            {type: 'Color', name: 'Color'},
            {type: 'Company Name', name: 'Company Name'},
            {type: 'Country', name: 'Country'},
            {type: 'Country Code', name: 'Country Code'},
            {type: 'Currency', name: 'Currency'},
            {type: 'Currency Code', name: 'Currency Code'},
            {type: 'Date', name: 'Date', min: '1/1/2000', max: '12/31/2015', format: '%m/%d/%Y'},
            {type: 'Domain Name', name: 'Domain Name'},
            {type: 'Email Address', name: 'Email Address'},
            {type: 'First Name (European)', name: 'First Name'},
            {type: 'Full Name', name: 'Name'},
            {type: 'Language', name: 'Language'},
            {type: 'Last Name', name: 'Last Name'},
            {type: 'Number', name: 'Number'},
            {type: 'Phone', name: 'Phone'},
            {type: 'Postal Code', name: 'Postal Code'},
            {type: 'Street Address', name: 'Street Address'},
            {type: 'Username', name: 'Username'}
        ];

        var fields = [];

        for (var i = 0; i < cols; i++) {
            var random_key = Math.floor(Math.random() * data_types.length);
            fields.push(data_types[random_key]);
            data_types.splice(random_key, 1);

            console.log(data_types);
        }

        var url = 'http://www.mockaroo.com/api/generate.json?count=' + rows + '&key=' + data_gen_api_key +
                '&fields=' + encodeURIComponent(JSON.stringify(fields));

        $.ajax(url, {
            dataType: 'jsonp',
            contentType: 'application/json',
            success: function(data) {
                populateTable(data, fields);
            }
        });
    };

    var populateTable = function(data, fields) {
        var markup = '<table><thead><tr>';

        for (var i = 0; i < fields.length; i++) {
            markup += '<th contenteditable="true">' + fields[i].name + '</th>';
        }

        markup += '</tr></thead><tbody>';

        for (var i = 0; i < data.length - 1; i++) {
            markup += '<tr>';

            for (var j = 0; j < fields.length; j++) {
                markup += '<td contenteditable="true">' + data[i][fields[j].name] + '</td>';
            }

            markup += '</tr>';
        }

        markup += '</tbody><tfoot><tr>';

        for (var i = 0; i < fields.length; i++) {
            markup += '<td contenteditable="true">' + data[data.length - 1][fields[i].name] + '</td>';
        }

        markup += '</tr></tfoot></tbody>';

        $('.table-wrapper', playground).html(markup);

        thead_tr = $('thead tr', playground);
        tfoot_tr = $('tfoot tr', playground);
        tbody = $('tbody', playground);
        col_count = fields.length;
    };
</script>
{% endstoreAt %}
